            body {
                display: flex;
                flex-direction: column;
            }
            
            header {
                width: 120%;
                height: 50px;
                background-image: linear-gradient(to right, black, grey, white);
                /*background-color: rgb(113, 74, 145);*/
            }
            
            section {
                width: 110%;
                height: 100px;
                background-image: linear-gradient(to right, black, grey, white);
                background-color: #234def;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .about-me {
                width: 110%;
                height: 200px;
                background-image: repeating-linear-gradient(to right, black, grey, white 170%);
                /*background-color: rgb(177, 69, 21, 0.8);*/
                /*margin: 10px 0 10px 0;
    border: solid black 10px;
    border-radius: 15px;*/
            }
            
            .avatar {
                width: 125px;
                border-radius: 62px;
                background-image: repeating-linear-gradient(to right, black, grey, 110%);
            }
            
            #name {
                color: grey;
            }
            
            .test {
                width: 40px;
                height: 40px;
                background-color: grey;
                margin: 5px;
            }
            
            .button-container {
                --dimension: 10px;
                --adjustment: 0px;
                --red-accent: #B11807;
                --red-dark: #710F05;
                --red: #E31D09;
                height: 100%;
                perspective: 70px;
                perspective-origin: 15% 100%;
                transform-style: preserve-3d;
                width: 100%;
            }
            
            .button-container:active {
                --adjustment: 10px;
            }
            
            .side {
                border: none;
                box-sizing: border-box;
                display: block;
                height: calc(var(--dimension) - var(--adjustment));
                position: absolute;
                transition: 0.4s ease-out;
                width: calc(var(--dimension) - var(--adjustment));
            }
            
            .bottom {
                background: var(--red-accent);
                transform: rotateX(-90deg) translateZ(calc(var(--dimension) / 2 + var(--adjustment) / 2));
                width: var(--dimension);
            }
            
            .button {
                background-color: var(--red);
                color: #FFFFFF;
                height: var(--dimension);
                transform: translateZ(calc(var(--dimension) / 2 - var(--adjustment) / 2));
                width: var(--dimension);
            }
            
            .left {
                background: var(--red-dark);
                height: var(--dimension);
                transform: rotateY(-90deg) translateZ(calc(var(--dimension) / 2 - var(--adjustment) / 2));
            }
            
            .right {
                background: var(--red-dark);
                height: var(--dimension);
                transform: rotateY(90deg) translateZ(calc(var(--dimension) / 2 + var(--adjustment) / 2));
            }
            
            .top {
                background: var(--red-accent);
                transform: rotateX(90deg) translateZ(calc(var(--dimension) / 2 - var(--adjustment) / 2));
                width: var(--dimension);
            }
            
            .container {
                box-sizing: border-box;
                padding: 100px;
                height: 300px;
                width: 300px;
            }